Day3/__pycache__/Claim.cpython-37.pyc
Day3/__pycache__/fabric.cpython-37.pyc
.vscode/settings.json
Day4/__pycache__/event.cpython-37.pyc
Day4/__pycache__/shift.cpython-37.pyc
Day4/__pycache__/guard.cpython-37.pyc
Day4/__pycache__/algorithms.cpython-37.pyc
.vscode/.ropeproject/config.py
.vscode/.ropeproject/objectdb
.vscode/launch.json
Day5/.idea/Day5.iml
Day5/.idea/Day5.iml
Day5/.idea/encodings.xml
Day5/.idea/misc.xml
Day5/.idea/modules.xml
Day5/.idea/vcs.xml
Day5/.idea/workspace.xml
Day5/__pycache__/polymer.cpython-37.pyc
Day5/__pycache__/polymer_alternate.cpython-37.pyc
Day5/__pycache__/polymer_v4.cpython-37.pyc
Day5/__pycache__/polymer_v3.cpython-37.pyc
Day5/polymer_v4.py
Day5/main_v2.py
Day5/__pycache__/polymer_v1.cpython-37.pyc
Day5/__pycache__/polymer_v2.cpython-37.pyc
